@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --primary: 327 90% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 47%;
    --accent: 327 85% 96%;
    --accent-foreground: 327 90% 35%;
    --border: 0 0% 91%;
    --input: 0 0% 91%;
    --ring: 327 90% 45%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 98%;
    --sidebar: 0 0% 30%;
    --sidebar-foreground: 0 0% 92%;
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    font-size: 17px;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-medium;
  }
}
